input{
    padding: 10px;
    font-size: 15px;
    margin: 5px;
    width: 300px;
}

button{
    font-size: 25px;
}

.error{
    color: red;
    font-size: 14px;
    margin-left: 10px;
}

.field{
    display: flex;
    align-items: center;
}

input{
    padding: 10px;
    font-size: 15px;
    margin: 5px;
    width: 300px;
}
button{
    font-size: 25px;
}