*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#parent{
    width: 1300px;
    height: 800px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.child{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    
}

#child1{
    padding-top: 50px;
}

#child2{
    flex-direction:column ;
    padding-left: 50px;
}

#child3{
    flex-direction: row-reverse;
    padding-top: 50px;
}

#child4{
    flex-direction: column-reverse;
    padding-left: 50px;
}

.child div{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 0, 111);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}