.parent {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: red;
}

.child {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: blue;
    right: 20px;
    bottom: 30px; 
}