body {
    background-color: #141414;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#card {
    background-color: #1f1f1f;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    transition: 0.5s;
}
#profile-image {
    width: 100px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 16px;
}
h1 {
    font-size: 40px;
    margin: 10px 0;
}
h2 {
    color: #c2d56c;
    font-size: 18px;
    margin: 5px 0 16px;
}
P {
    font-size: 15px;
    margin-bottom: 20px;
}
#btn a {
    display: block;
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
}
#btn a:hover {
    background-color: #555;
}
#card:hover {
    background-color: grey;
}